#title{
    justify-content: center;
    background-color: black;
}

#fishbowl{
    justify-content: center;
}

#fishbowl_title{
    justify-content: center;
}

#fishbowl_list{
    justify-content: center;
}

