body{
    background-color: aliceblue;
}

.text{
    color: #74808b;
}

.navItems{
    margin-right:10px;
}

#navbar{
    display:flex;
    flex-direction: row;
    list-style-type: none;
}

.navChoices{
    margin-right:10px;
}

#dateHolder{
    display:none;
}

#terms{
    display:none;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}
#termsArea{
    resize: none;
    height: 20px;
    width: 200px;
    margin-bottom: 10px;
}

textarea{
    height: 1.5ch;
    width: 10ch;
}

#colorBar{
    list-style-type: none;
}

#title{
    justify-content: center;

}

#main{
    display:flex;
    flex-direction: column;
    align-items: center;

}

#fishbowl{
    border: solid;
    border-width: .1cm .1cm;
    border-color: #74808b;
    
}


